@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.titleLogo {
  font-family: "Satisfy", cursive;
}

.text--center {
  text-align: center; /* Align text to the center */
}

.negrilla {
  font-weight: bold;
}

.text--color-black {
  color: black;
}

.image--height-50 {
  height: 50px;
}

.image--width-100 {
  width: 100%;
}

.btn--color-pink {
  background-color: #f9585e;
  border-color: #52baba;
}

.btn--color-gray {
  background-color: #f3e8dd;
  border-color: black;
}
